body {
  margin: 0;
  font-weight: bold;
  font-family: 'Romanesco';
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img.jpg');
  background-position: center;
}

form {
  border-radius: 10px;
  text-align: center;
  vertical-align: top;
  margin-top: 145px;
  padding: 30px 90px;
  background-color: #ffffff6b;
  display: flex;
  flex-direction: column;
}

.container label {
  display: block;
  margin-top: 10px;
}

label {
  font-size: 30px;
}

#mensagem {
  margin-top: 10px;
  width: 30%;
  padding: 5px 15px;
  border-radius: 3px;
}

select {
  border-radius: 3px;
  font-size: 17px;
  margin-top: 15px;
}

#incrementoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#incremento {
  border-radius: 3px;
  margin-top: 10px;
  width: 30%;
  padding: 5px 15px;

}

#codificar,
#decodificar {
  margin-top: 12px;
}

button {
  margin-top: 15px;
  border-radius: 3px;
  padding: 5px 15px;
}

#resultado {
  font-size: 25px;
  margin-top: 5px;
}